body,
main,
header,
footer,
article,
section,
aside,
details,
summary {
  width: 100%;
}

* + * {
  margin-top: 1.5em;
}

#map > * {
  margin-top: 0;
}

body {
  margin: 0 auto;
  max-width: 30em;
}

header {
  border-bottom: $border;
  padding: 0 $md-pad;
}

main {
  padding: 0 $md-pad;
}

footer {
  border-top: $border;
  clear: both;
  display: inline-block;
  float: left;
  padding: 0 $md-pad;
  text-align: center;
}

hr {
  border-top: $border;
  display: block;
  width: 100%;
}

img {
  height: auto;
  max-width: 100%;
  vertical-align: baseline;
}

@media screen and (max-width: $small-breakpoint) {
  article,
  section,
  aside {
    clear: both;
    display: block;
    max-width: 100%;
  }

  img {
    margin-right: $md-pad;
  }
}
