//Basic stylings
$br: 4px;
$xs-pad: 4px;
$sm-pad: 8px;
$md-pad: 16px;
$lg-pad: 20px;
$xlg-pad: 40px;
$trans: .3s;

//Breakpoints
$small-breakpoint: 400px;
$large-breakpoint: 768px;

//Colors
$primary: #2196f3;
$accent: #64ffda;
$red: #f44336;
$yellow: #ffeb3b;
$grey: #efefef;
$white: #fff;
$black: #000;

//Text
$text: rgba(0, 0, 0, .8);
$secondary: rgba(0, 0, 0, .54);
$disabled: rgba(0, 0, 0, .38);
$dividers: rgba(0, 0, 0, .12);

//Links
$link-color: $primary;
$link-hover-color: darken($link-color, 15%);

//Font
$sans-serif:  Franklin Gothic Book, ITC Franklin Gothic, Franklin Gothic, Arial, sans-serif;
$serif: Georgia, Times, 'Times New Roman', serif;
$monospace: Menlo, Monaco, Consolas, 'Courier New', monospace;
$font-family: $sans-serif;

//Typography
$font-size-base: 1rem;
$font-size-large: ($font-size-base * 1.25);
$font-size-small: ($font-size-base * .75);
$font-size-h1: ($font-size-base * 2.75);
$font-size-h2: ($font-size-base * 1.75);
$font-size-h3: ($font-size-base * 1.75);
$font-size-h4: ($font-size-base * 1.25);
$font-size-h5: ($font-size-base * 1.25);
$font-size-h6: $font-size-base;
$line-height-base: 1.5;

//Other
$border: 1px solid $dividers;
$dt-width: 10em;
