//Breakpoints
$small-breakpoint: 20em;
$large-breakpoint: 48em;

//Colors
$primary: #2196f3;
$accent: #64ffda;
$red: #f44336;
$yellow: #ffeb3b;
$grey: #efefef;
$white: #fff;
$black: #000;

//Text
$text: rgba(0, 0, 0, .8);
$secondary: rgba(0, 0, 0, .54);
$disabled: rgba(0, 0, 0, .38);
$dividers: rgba(0, 0, 0, .12);

//Links
$link-color: $primary;
$link-hover-color: darken($link-color, 15%);

//Font
$sans-serif: 'Franklin Gothic Book', 'ITC Franklin Gothic', 'Franklin Gothic', Arial, sans-serif;
$serif: Georgia, Times, 'Times New Roman', serif;
$monospace: Menlo, Monaco, Consolas, 'Courier New', monospace;
$font-family: $sans-serif;

//Typography
$line-height-base: 1.5;
$font-size-base: 1em;
$font-size-lg: ($font-size-base * 1.25);
$font-size-sm: ($font-size-base * 0.75);
$font-size-h1: ($font-size-base * 2.00);
$font-size-h2: ($font-size-base * 1.50);
$font-size-h3: ($font-size-base * 1.50);
$font-size-h4: ($font-size-base * 1.00);
$font-size-h5: ($font-size-base * 1.00);
$font-size-h6: ($font-size-base * 1.00);

//Basic stylings
$br: ($font-size-base * 0.25);
$xs-pad: ($font-size-base * 0.25);
$sm-pad: ($font-size-base * 0.5);
$md-pad: $font-size-base;
$lg-pad: ($font-size-base * 1.5);
$xlg-pad: ($font-size-base * 2);
$trans: .3s;

//Other
$border: 1px solid $dividers;
$dt-width: 10em;
