{% include header.html %}
	<main>
		<h1>{{ page.title }}</h1>
		<dl>

			{% if page.website <> '' %}
			<dt>Website</dt>
			<dd><a href="http://{{ page.website }}" target="_blank">{{ page.website }}</a></dd>
			{% endif %}
			{% if page.denomination <> '' %}
			<dt>Denomination</dt>
			<dd><a href="{{ site.url }}\churches-by-denomination.html#{{ page.denomination | slugify }}">{{ page.denomination }}</a></dd>
			{% endif %}

			{% if page.leader <> '' %}
			<dt>Leader</dt>
			<dd>{{ page.leader }}</dd>
			{% endif %}

			{% unless page.services == empty %}
			<dt>Service Times</dt>
			{% for service in page.services %}
			<dd>{{ service.day }} {{ service.time }} {% if service.description %}({{ service.description }}){% endif %}</dd>
			{% endfor %}
			{% endunless %}
      </dl>
      <h2>Contact</h2>
		<dl>
			{% if page.office-hours <> empty %}
			<dt>Office Hours</dt>
        {% for hours in page.office-hours %}
			<dd>{{ hours }}</dd>
        {% endfor %}
			{% endif %}
		
			{% if page.address <> '' %}
			<dt>Address</dt>
			<dd>{{ page.address }}, {{ page.suburb }}
			{% if page.address-hint <> '' %}
			<br>({{ page.address-hint }})
			{% endif %}
        </dd>
        {% endif %}
			{% if page.phone <> '' %}
			<dt>Phone</dt>
			<dd>{{ page.phone }}</dd>
			{% endif %}

			{% if page.mailing <> '' %}
			<dt>Mailing Address</dt>
			<dd>{{ page.mailing }}</dd>
			{% endif %}

			{% if page.email <> '' %}
			<dt>Email</dt>
			<dd><a href="mailto:{{ page.email }}">{{ page.email }}</a></dd>
			{% endif %}

		</dl>
		{{ content }}
	</main>
{% include footer.html %}
